.header {
	background-color: var(--ui-brand-color);
	padding: 0 24px;
}

.header__menu-humburger {
	padding: 30px 0;
	display: grid;
	grid-template-columns: 207px 1fr;
	max-width: 100%;
}

.header__menu {
	display: flex;
	flex-direction: column;
}

.header__menu-items {
	text-decoration: none;
}

.header__menu-items:hover {
	text-decoration: underline;
}

.header__banner-container {
	min-height: 666px;
	padding: 75px 0 53px 0;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
}

.header__banner-image {
margin-top: 50px;
}

.header__banner p {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 27px;
	color: #060807;
}

.header__title {
	font-family: 'Titillium Web', sans-serif;
	font-size: 38px;
	font-weight: 700;
	letter-spacing: -0.76px;
	line-height: 45.6px;
	padding-bottom: 35px;
}

.header__buttons {
	width: 272px;
	height: 58px;
	margin-top: 35px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.header__apply-button,
.header__program-button {
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
	line-height: 14px;
	padding: 12px 24px;
	margin: 10px 10px 10px 0;
	text-align: center;
	cursor: pointer;
	border-radius: 4px;
}

.header__apply-button {
	background-color: #3040c4;
	color: white;
}

.header__apply-button:hover {
	background-color: #060807;
}

.header__program-button {
	border: 1px solid #3040c4;
	color: #060807;
}

.header__program-button:hover {
	background-color: #3040c4;
	color: white;
}

@media (min-width: 700px) {}