.header {
	background-color: var(--ui-brand-color);
}

.header__menu-humburger {
	height: 90px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.header__logo {
	width: 207px;
}

.header__menu {
	display: none;
}

.header__menu-items {
	font-family: var(--font-family-text);
	color: var(--text-color);
}

.header__banner-container {
	height: 666px;
	padding: 75px 0 53px 0;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
}

.header__banner p {
	font-size: 18px;
	line-height: 27px;
	color: var(--text-color);
	padding: 0;
}

.header__title {
	font-family: var(--font-family-title);
	font-size: 38px;
	font-weight: 700;
	letter-spacing: -0.76px;
	line-height: 45.6px;
	padding-bottom: 35px;
}

.header__buttons {
	width: 260px;
	height: 58px;
	margin-top: 35px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
}

.header__apply-button,
.header__program-button {
	font-size: 14px;
	font-family: var(--font-family-text);
	text-decoration: none;
	line-height: 14px;
	padding: 12px 24px;
	margin: 10px 10px 10px 0;
	text-align: center;
	cursor: pointer;
	border-radius: 4px;
}

.header__apply-button {
	background-color: var(--icons-color);
	color: var(--font-optical-color);
}

.header__apply-button:hover {
	background-color: var(--text-color);
}

.header__program-button {
	border: 1px solid var(--icons-color);
	color: var(--text-color);
}

.header__program-button:hover {
	background-color: var(--icons-color);
	color: var(--font-optical-color);
}

@media (min-width: 480px) {
	.header__banner-container {
		height: 655px;
	}
}

@media (min-width: 768px) {
	.header__banner-container {
		height: 450px;
		display: flex;
		flex-direction: row;
		align-items: center;
		margin: 0 auto;
	}

	.header__title {
		font-size: 43px;
		line-height: 52px;
		letter-spacing: -0.86px;
	}
}

@media (min-width: 992px) {
	.header__menu {
		width: 550px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.header__menu-items {
		display: inline-block;
		color: var(--text-color);
		line-height: 1.5;
		cursor: pointer;
	}

	.header__menu-items:after {
		background-color:
			var(--icons-color);
		display: block;
		content: "";
		height: 3px;
		width: 0%;
		-webkit-transition: width .3s ease-in-out;
		-moz--transition: width .3s ease-in-out;
		transition: width .3s ease-in-out;
	}

	.header__menu-items:hover:after,
	.header__menu-items:focus:after {
		width: 100%;
	}


	.header__banner-container {
		height: 444px;
	}

	.header__banner-image {
		width: 65%;
	}
}

@media (min-width: 1200px) {
	.header__banner-container {
		height: 488px;
	}

	.header__banner {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
	}
}