.header__info-container {
	height: 660px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	}
	

.header__info-title {
	font-family: 'Titillium Web', sans-serif;
	font-size: 1.25rem;
}

.bottom__image-pink {
	height: 7px;
	width: 100%;
	background-position: bottom;
	margin-top: -1px;
	position: absolute;
}

@media (min-width: 480px) {
.header__info-container {
height: 539px;
display: flex;
flex-direction: column;
justify-content: space-between;
}
.header__info-text {
padding-top: 20px;
}
}

@media (min-width: 768px) {
	.header__info-container {
		height: 345px;
		display: grid;
		grid-template-rows: 1fr 1fr;
		grid-template-columns: 1fr 1fr;
		gap: 30px 15px;
	}

	.header__info-items {
		height: 122px;
		width: 367px;
	}
}