.header {
	background-color: var(--ui-brand-color);
}

.header__nav-burger {
	height: 105px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.header__logo {
	width: 207px;
	z-index: 6;
}

.header__menu {
	height: 400px;
	padding-top: 100px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.header__burger {
	display: block;
	position: relative;
	width: 24px;
	height: 16px;
	padding: 6.5px;
	cursor: pointer;
	z-index: 5;
}

.header__burger span,
.header__burger::after,
.header__burger::before {
	position: absolute;
	left: 0;
	height: 2px;
	width: 100%;
	background-color: var(--text-color);
	transition: all 0.5s ease-in-out;
}

.header__burger span {
	transform: scale(1);
}

.header__burger::after,
.header__burger::before {
	content: " ";
}

.header__burger::before {
	top: 0;
}

.header__burger::after {
	bottom: 0;
}

.header__burger.active span {
	transform: scale(0);
}

.header__burger.active::before {
	top: 50%;
	transform: rotate(-45deg);
}

.header__burger.active::after {
	bottom: 40%;
	transform: rotate(45deg);
}

.header__wrapper {
	position: fixed;
	top: -100%;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--ui-brand-color);
	z-index: 2;
	transition: top 0.3s ease-in;
	padding: 15px 24px 50px 24px;
	transition: top 0.3s ease-in 0.1s;
	overflow: hidden;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header__wrapper.active {
	top: 0;
}

.header__menu-items {
	font-family: var(--font-family-text);
	color: var(--text-color);
}


.header__menu-items:after {
	background-color:
		var(--icons-color);
	display: block;
	content: "";
	height: 3px;
	width: 0%;
	-webkit-transition: width .3s ease-in-out;
	-moz--transition: width .3s ease-in-out;
	transition: width .3s ease-in-out;
}

.header__menu-items:hover:after,
.header__menu-items:focus:after {
	width: 100%;
}

.header__banner-container {
	height: 666px;
	padding: 75px 0 53px 0;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
}

.header__banner p {
	font-size: 18px;
	line-height: 27px;
	color: var(--text-color);
	padding: 0;
}

.header__title {
	font-family: var(--font-family-title);
	font-size: 38px;
	font-weight: 700;
	letter-spacing: -0.76px;
	line-height: 45.6px;
	padding-bottom: 35px;
}

.header__buttons {
	width: 260px;
	height: 58px;
	margin-top: 35px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
}

.header__apply-button,
.header__program-button {
	font-size: 14px;
	font-family: var(--font-family-text);
	text-decoration: none;
	line-height: 14px;
	padding: 12px 24px;
	margin: 10px 10px 10px 0;
	text-align: center;
	cursor: pointer;
	border-radius: 4px;
}

.header__apply-button {
	background-color: var(--icons-color);
	color: var(--font-optical-color);
}

.header__apply-button:hover {
	background-color: var(--text-color);
}

.header__program-button {
	border: 1px solid var(--icons-color);
	color: var(--text-color);
}

.header__program-button:hover {
	background-color: var(--icons-color);
	color: var(--font-optical-color);
}

body.lock {
	overflow: hidden;
}

@media (min-width: 480px) {
	.header__banner-container {
		height: 655px;
	}
}

@media (min-width: 768px) {
	.header__banner-container {
		height: 450px;
		display: flex;
		flex-direction: row;
		align-items: center;
		margin: 0 auto;
	}

	.header__title {
		font-size: 43px;
		line-height: 52px;
		letter-spacing: -0.86px;
	}

	.header__burger {
		display: none;
	}

	.header__wrapper {
		top: 0;
		background-color: transparent;
	}
}

@media (min-width: 992px) {
	.header__menu {
		height: 100%;
		margin: 0;
		padding: 0;
		display: flex;
		width: 100%;
		flex-direction: row;
		justify-content: space-between;
	}

	.header__wrapper {
		background-color: var(--background-header-banner);
		position: relative;
		width: 70%;
		top: 0;
		padding: 0;
		transition: none;
		flex-direction: row;
		justify-content: space-between;
	}

	.header__nav-burger {
		width: 30%;
	}

	.header__nav-menu {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.header__banner-container {
		height: 444px;
	}

	.header__banner-image {
		width: 65%;
	}
}

@media (min-width: 1200px) {
	.header__banner-container {
		height: 488px;
	}

	.header__title {
		font-size: 48px;
	}

	.header__banner {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
	}
}