.program {
	background-color: var(--ui-dark-accent-color);
}

.line__detail-blue-bottom {
	background-image: url(../images/line-detail-blue-bottom.svg);
	background-position: bottom;
	height: 20px;
	z-index: 2;
	position: relative;
}

.program__info {
	margin-top: 45px;
}

.program__container {
	padding: 140px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.program__title {
	color: var(--font-optical-color);
}

.program__text-title {
	color: var(--font-optical-color);
	font-family: var(--font-family-title);
	font-size: 20px;
	font-weight: 700;
	line-height: 26.2px;
}

.program__text {
	color: var(--font-optical-color);
	font-family: var(--font-family-text);
	font-weight: 400;
	line-height: 25.6px;
}

.program__week {
	color: var(--font-optical-color);
	font-family: var(--font-family-title);
	font-size: 22px;
	font-weight: 700;
	line-height: 27.94px;
	letter-spacing: -0.44px;
}

.introdaction__text-container {
	margin-top: 50px;
}

.line__items {
	margin: 30px 0 20px 0;
	height: 1.5px;
	width: 100%;
	background-color: var(--font-optical-color);
}

@media (min-width: 768px) {
	.program__text-container {
		display: grid;
		grid-template-columns: 120px 1fr;
	}

	.introdaction__text-container {
	margin: 0;
	}

	.program__title {
	font-size: 33px;
	}

	.program__week {
	font-size: 23px;
	}
}

@media (min-width: 992px) {
	.program__text-container {
		grid-template-columns: 170px 1fr;
	}

	.program__title {
		font-size: 36px;
		}
	
		.program__week {
		font-size: 24px;
		}
}